.main-header {
    font-size: 20pt;
    font-weight: bold;
}

.info {
    font-style: italic;
}

.cursor-hand {
    cursor: pointer;
}

.description {
    font-style: italic;
    font-size: 9pt;
}

.example {
    font-style: italic;
    font-size: 10pt;
}
.example .title {
    font-weight: bold;
}
