body {
    background: rgb(245, 245, 245);
}

.main-header {
    font-size: 20pt;
    font-weight: bold;
}

.info {
    font-style: italic;
}

.cursor-hand {
    cursor: pointer;
}

.description {
    font-style: italic;
    font-size: 9pt;
}

.example {
    font-style: italic;
    font-size: 10pt;
}
.example .title {
    font-weight: bold;
}

.heart:before {
    content: " ♥ ";
    color: crimson;
}

.spade:before {
    content: " ♠ ";
    color: black;
}

.club:before {
    content: " ♣ ";
    color: black;
}

.diamond:before {
    content: " ♦ ";
    color: crimson;
}

.underline {
    display: inline;
    text-decoration: underline;
}

.center-inner-container {
    display: inline-block;
}
.center-outer-container {
    text-align: center;
}

.note {
    font-style: italic;
    font-size: 9pt;
}
